<article class="container tacos" ng-controller="TacosCtrl as tc">
  <h1>LD Taco Shop</h1>
  <div class="alert alert-danger" ng-if="tc.listError"><strong>Error getting tacos:</strong> {{tc.listError}}</div>
  <div class="alert alert-danger" ng-if="tc.createError"><strong>Error ordering taco:</strong> {{tc.createError}}</div>
  <div class="alert alert-danger" ng-if="tc.deleteError"><strong>Error deleting taco:</strong> {{tc.deleteError}}</div>

  <h3>Order a new Taco</h3>

  <form name="form" novalidate role="form" ng-submit="form.$valid && tc.createTaco()">
    <fieldset ng-disabled="tc.creatingTaco">
      <label>Meat</label>
      <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="meat" value="chicken" ng-model="tc.newTaco.meat"> Chicken
        </label>
        <label class="radio-inline">
          <input type="radio" name="meat" value="steak" ng-model="tc.newTaco.meat"> Steak
        </label>
      </div>

      <label>Sides</label>
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="tc.newTaco.rice"> Rice
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" ng-model="tc.newTaco.salsa"> Salsa
        </label>
      </div>

      <label>Notes</label>
      <div class="form-group">
        <textarea class="form-control" rows="3" ng-model="tc.newTaco.notes"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">{{tc.creatingTaco ? 'Ordering Taco...' : 'Order Taco'}}</button>
    </fieldset>
  </form>

  <h3>Taco Queue</h3>

  <p ng-if="!tc.tacos.length">Empty! Order some tacos!</p>

  <table class="table table-striped tacos" ng-if="tc.tacos.length">
    <thead>
      <tr>
        <th>Order #</th>
        <th>Meat</th>
        <th>Rice</th>
        <th>Salsa</th>
        <th>Notes</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="taco in tc.tacos track by taco.id">
        <td>{{taco.id}}</td>
        <td class="meat">{{taco.meat}}</td>
        <td class="rice">{{taco.rice ? 'yes' : 'no'}}</td>
        <td class="salsa">{{taco.salsa ? 'yes' : 'no'}}</td>
        <td>{{taco.notes}}</td>
        <td><button type="button" class="btn btn-danger btn-xs fa fa-times" title="Delete this Taco" ng-click="tc.deleteTaco(taco)"></button></td>
      </tr>
    </tbody>
  </table>
</article>